.about_company_title{
    font-size: 2.7em;
    font-weight: 800;
}

.main_info_wrapper{
    height: 100vh;
    width:100%;
    padding: -8px -40px 0 6%;
}

.main_info_text{
    margin-left: 15%;
    width: 80%;
}

.main_info_img{
    width: 200%;
    height: 95vh !important;
    clip-path: polygon(45% 0, 110% 0, 50% 200%, -15% 100%);
}